body {
  background-color: #fff;
}

h1 {
  padding: 80px 0 40px;
  font-size: 22px;
  line-height: 28px;
  color: #505762;
}

article h1 {
  padding: 50px 0 40px;
}

/* Banner */

body.loaded {
  opacity: 1;
  transition: 1s opacity;
}

.banner {
  position: relative;
  width: 100%;
  height: 320px;
  padding: 0 5%;
  overflow: hidden;
  backface-visibility: hidden;
}

.banner .background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transform: translate3d(0, 0, 0) scale(1.25);
  background: black url(https://images.unsplash.com/photo-1457282367193-e3b79e38f207?dpr=1&auto=compress,format&fit=crop&w=1954&h=&q=80&cs=tinysrgb&crop=) no-repeat center center;
  background-size: cover;
}

.loaded .banner .background {
  transform: scale(1);
  transition: 6.5s transform;
}

.banner h1 {
  color: #EEE;
  margin: 0;
  line-height: 50px;
  text-shadow: 0 0 .2rem black;
}

/* Searchbar */

.search h1 {
  padding: 60px 0;
}

/* Slidey (Menu ith catagories and searchbar) */

.slidey {
  overflow: hidden;
  padding: 30px 0;
  background: #f3f5f8;
  border-bottom: 1px solid #e5e8ed;
}

.slidey .wrap {
  border: 0px !important;
}

.js-enabled .slidey {
  -webkit-transition: margin-top .2s;
  -moz-transition: margin-top .2s;
  transition: margin-top .2s;
}

.slidey b, .slidey label {
  display: block;
  font-weight: 500;
  padding-bottom: 15px;
  font-size: 15px;
  font-weight: 500;
}

.slidey form, .slidey aside {
  float: left;
  width: 50%;
}

.slidey form input {
  padding: 20px;
  width: 75%;
}

.slidey li {
  list-style: none;
}

.slidey a {
  text-decoration: none;
  position: relative;
  display: block;
  color: #717985;
}

.slidey a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 1px solid #717985;
  transition: 0.4s;
}

.slidey a:hover:after {
  width: 100%;
}

.slidey li span {
  float: right;
  opacity: .6;
}

/* Menu bar */

#top {
  overflow: hidden;
  padding: 20px 35px;
  background: #274bb1;
  border-bottom: 1px solid rgba(22, 36, 54, .1);
  background-image: url('../img/top.png');
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#top a {
  float: left;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

#top ul {
  list-style: none;
  float: right;
}

#top ul li {
  float: left;
  padding-left: 40px;
}

#top ul a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  color: #fff;
}

#top a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 1px solid #fff;
  transition: 0.4s;
}

#top a:not(.linky):hover:after {
  width: 100%;
}

#top ul img {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -2px;
  width: 16px;
  height: 16px;
  opacity: .7;
}

#top ul a:hover img {
  opacity: 1;
}

#top ul a.active img {
  opacity: 1;
}

/*   Index page listing, category listing, search page results */

.items {
  list-style: none;
}

/*.items>li {
  padding: 70px 0 60px;
  color: #97aec9;
  background: #3c4552;
}*/

.posts .items>li {
  /*background: #fff !important;*/
  padding: 35px 0;
}

.items li h1 a, .posts .items>li:first-child h2 a {
  color: #3d4551;
}

.items h1 {
  padding: 0 0 8px;
  margin-top: 25px;
}

.items h1 a {
  text-decoration: none;
}

.items h2 {
  font-size: 32px;
  line-height: 41px;
}

.items h2 a {
  display: block;
  padding-bottom: 12px;
  color: #fff;
  color: rgba(176, 200, 236, .8);
  text-decoration: none;
}

.items h2 a:hover {
  color: #fff;
}

.items .content {
  padding: 10px 0 0;
}

.items .content p {
  padding-bottom: 15px;
}

/*  Pagination */

.pagination {
  overflow: hidden;
  padding: 30px 0;
  margin-bottom: 50px;
  border-top: 1px solid rgba(22, 36, 54, .1);
  border-bottom: 1px solid rgba(22, 36, 54, .1);
}

.pagination:empty {
  display: none;
}

.pagination a {
  float: left;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  color: #6f7b8b;
}

.pagination a:hover {
  color: #3c4857;
}

.pagination .next {
  float: right;
}

/**
 *   Give some extra space to single-page wrappers
 */

.wrap {
  min-width: 280px;
  max-width: 900px;
  width: 80%;
  margin: 0 auto;
}

.content {
  padding-bottom: 50px;
}

.content ul, .content ol, .items li ul {
  padding: 20px 30px;
}

.content .items {
  padding: 0;
}

.content ul ul, .content ol ol, .items li ul ul {
  padding: 0 20px;
}

.content blockquote {
  border-left: 3px solid #98a2b1;
  padding-left: 15px;
  margin: 15px 0;
}

/**
 *   Footnotes and straplines
 */

.footnote, .commentlist time, .items footer {
  display: block;
  padding: 5px 0 15px 15;
  color: #98a2b1;
  font-size: 14px;
  font-style: italic;
  white-space: nowrap;
}

.article-seperator {
  padding-top: 12px;
  border-bottom: 1px dotted #e0e0e0;
}

.footnote {
  padding: 20px 0 40px;
}

/**
 *   Comment form
 */

ul.commentlist {
  margin-bottom: 40px;
  list-style: none;
  border-top: 1px solid rgba(22, 36, 54, .1);
}

ul.commentlist .wrap {
  position: relative;
}

ul.commentlist li {
  padding: 40px 0;
  border-bottom: 1px solid rgba(22, 36, 54, .1);
  background-color: #f8f8f8;
}

ul.commentlist li:nth-child(odd) {
  background-color: #fafafa;
}

ul.commentlist time {
  font-size: 13px;
}

ul.commentlist h2 {
  font-size: 25px;
  line-height: 33px;
}

ul.commentlist .counter {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 25px;
  font-weight: 300;
  color: #cdd2da;
}

#comment {
  overflow: hidden;
}

#comment label[for] {
  display: none;
}

#comment p {
  float: left;
  width: 48%;
  margin-right: 4%;
  margin-bottom: 10px;
  text-indent: 0;
}

#comment p+p {
  margin-right: 0;
}

#comment p.textarea {
  float: none;
  width: 100%;
}

#comment input, #comment textarea {
  width: 100%;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  border: 1px solid rgba(22, 36, 54, .2);
  border-radius: 4px;
}

#comment input:focus, #comment textarea:focus {
  outline: none;
  background: #f7f9fc;
}

#comment textarea {
  min-height: 150px;
  max-height: 800px;
  resize: vertical;
}

#comment button {
  display: inline-block;
  padding: 9px 18px;
  background: #4e82ce;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
}

#comment .g-recaptcha {
  float: none;
  width: 100%;
  margin-bottom: 20px;
}

#comment button:hover {
  background: #3c6eb7;
}

/**
 *   Footer
 */

#bottom {
  padding: 30px 30px 40px;
  background-color: #f8f8f8;
}

#bottom ul {
  float: right;
  list-style: none;
}

#bottom li {
  float: left;
  padding-left: 35px;
  font-size: 14px;
}

#bottom a {
  text-decoration: none;
}

/* Article Featured Image */

.blog-image-header {
  display: block;
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 25px;
}

.article-body {
  padding-right: 10px;
  padding-left: 10px;
}
